<div id="<%= dom_id donor %>">
  <p>
    <strong>First name:</strong>
    <%= donor.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= donor.last_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= donor.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= donor.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= donor.phone_number %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= donor.product_type %>
    <%= donor.brand %>

  </p>

  <p>
    <strong>Brand:</strong>
    <%= donor.brand %>
  </p>

  <p>
    <strong>How broken:</strong>
    <%= donor.how_broken %>
  </p>


</div>
