<div id="<%= dom_id donor %>">
  <p>
    <strong>First name:</strong>
    <%= donor.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= donor.last_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= donor.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= donor.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= donor.phone_number %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= donor.zip_code %>
  </p>

  <p>
    <strong>Product name:</strong>
    <%= donor.product_name %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= donor.brand %>
  </p>

  <p>
    <strong>How broken:</strong>
    <%= donor.how_broken %>
  </p>

  <p>
    <strong>Seller:</strong>
    <%= donor.Seller %>
  </p>

  <p>
    <strong>Company name:</strong>
    <%= donor.company_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= donor.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= donor.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= donor.phone_number %>
  </p>

  <p>
    <strong>Zip code:</strong>
    <%= donor.zip_code %>
  </p>

  <p>
    <strong>Products accepted:</strong>
    <%= donor.products_accepted %>
  </p>

  <p>
    <strong>Type of repair:</strong>
    <%= donor.type_of_repair %>
  </p>

</div>
