<div id="<%= dom_id seller %>">
  <p>
    <strong>Company name:</strong>
    <%= seller.company_name %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= seller.address %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= seller.email %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= seller.phone_number %>
  </p>

  <p>
    <strong>Products accepted:</strong>
    <%= seller.accepted_product %>
  </p>

  <p>
    <strong>Type of repair:</strong>
    <%= seller.type_of_repair %>
  </p>

</div>
